<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Console Appender -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%d[%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Rolling File Appender -->
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/myapp.log</file>
		<encoder>
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%d[%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/myapp-%d{yyyy-MM-dd HH-mm}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<!-- Loggers -->
	<!-- level=info/debug/trace/  -->
	<root level="debug">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
	<logger name="com.mea" level="info">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</logger>
</configuration>